<!DOCTYPE html>
<html>
<head class="no-js" lang="en">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Case Western Reserve University Taekwondo Club</title>
    <link href="static/css/foundation.min.css"
    rel="stylesheet">
    <link href="static/css/foundation-icons.css"
    rel="stylesheet">
    <link href="static/css/app.css" rel=
    "stylesheet">
    <script src="static/javascript/vendor/modernizr.js"></script>
    <link href="/static/img/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
</head>

<body class="home" style="position: relative; min-height: 100%; top: 0px;">
    <div class="off-canvas-wrap" data-offcanvas="">
        <div class="inner-wrap">
            <section class="main-section">
                <header class="hide-for-small">
                    <div class="row">
                        <div class="medium-3 large-3 columns mobile-four">
                            <a href="/"><img alt="Case TKD Logo" id="mainLogo"
                            src=
                            "static/img/tkdlogo2.png"></a>
                        </div>

                        <div class="medium-9 large-9 columns">
                            <nav>
                                <!--<div id="activeSprite"></div>-->

                                <ul>
                                    <li>
                                        <a href="/">Home</a>
                                    </li>

                                    <li>
                                        <a href="/about/">About Us</a>
                                    </li>

                                    <li>
                                        <a href="/information/">Club
                                        Information</a>
                                    </li>

                                    <li>
                                        <a href="/members/">Members</a>
                                    </li>

                                    <li>
                                        <a href="/contact/">Contact</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </header>

                <div class="contentDividerFrame">
                    <div class="jumbotron row">
                        <div class="small-12 medium-12 large-12 columns">
                            <div class="custom">
                                <div class="homepage">
                                    <img class="bg"><img alt="Club Banner"
                                    border="0" class="bg" src=
                                    "static/img/banner1.jpg"
                                    style=
                                    " padding-top: -100; margin-top: -100;">

                                    <div class="lemon content hide-for-small">
                                        <h3>Case Taekwondo</h3><span class=
                                        "note">Founded 1983</span>

                                        <h3 style="font-size:14px">Building A
                                        More Peaceful World</h3><a class=
                                        "fancy button" href=
                                        "/information/">Join Us! »</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="contentDivider"></div>
                </div>

                <article>
                    <div class="row">
                        <div class="small-12 medium-4 large-4 columns">
                            <div class="custom">
                                <h3><a data-dynamite-selected="true" href=
                                "/services/">Our Requirements</a></h3>

                                <p><a href="/services/"><img alt=
                                "Sparring" border="0"
                                class="fancy" src="/static/img/kick.jpg" style=
                                "width: 260.328px;height: 184.813px;"></a></p>
                            </div>
                        </div>

                        <div class="small-12 medium-4 large-4 columns">
                            <div class="custom">
                                <h3><a href="/history">Our History</a></h3>

                                <p><a href="/services/hd"><img alt=
                                "Old Group Photo" border="0" class="fancy" src=
                                "/static/img/group.jpg" style=
                                "width: 260.328px;height: 184.813px;"></a></p>
                            </div>
                        </div>

                        <div class="small-12 medium-4 large-4 columns">
                            <div class="custom">
                                <h3><a href="/events/">Our Events</a></h3>

                                <p><a href="/events/"><img alt=
                                "Calendar of Events" border=
                                "0" class="fancy" src=
                                "/static/img/calendar.jpg" style=
                                "height:184px"></a></p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
					<div class="small-12 medium-12 large-12 columns text-center"style="top: 15px;">
						<a href="http://athletics.case.edu/sports/club/index"><h2>Follow All Of Case Western's Sports Clubs</h2></a>
					</div>
				</div>


                </article>

                <footer>
                    <div class="stitch"></div>

                    <div class="row social" style="margin-top: 30px;">
                        <div class="row">
                            <div class="small-12 medium-4 large-4 columns">
                                <a href="/"><img alt="Case Taekwondo Logo" src=
                                "/static/img/tkd logo3.png" style=
                                "margin-left: -60px; margin-top: 15px;"></a>
                                <a href="/"><img alt="Case Taekwondo Logo"
                                class="hide" src=
                                "/static/img/tkd logo3"></a><br>
                                <br>
                            </div>

                            <div class="small-12 medium-4 large-4 columns">
                                <h5>Quick Links</h5>

                                <div class="row">
                                    <div class=
                                    "small-6 medium-6 large-6 columns">
                                        <ul class="no-bullet">
                                            <li>
                                                <a href="/">Home</a>
                                            </li>

                                            <li>
                                                <a href="/about/">About</a>
                                            </li>

                                            <li>
                                                <a href=
                                                "/information/">Information</a>
                                            </li>

                                            <li>
                                                <a href="/members/">Members</a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class=
                                    "small-6 medium-6 large-6 columns">
                                        <ul class="no-bullet">
                                            <li>
                                                <a href="/contact">Contact
                                                Us</a>
                                            </li>

                                            <li>
                                                <a href="/events/">Events</a>
                                            </li>

                                            <li>
                                                <a href="/history">History</a>
                                            </li>

                                            <li>
                                                <a href=
                                                "/requirements">Requirements</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="small-12 medium-4 large-4 columns">
                                <h5>Join Us!</h5>

                                <p>Take some time away from classes and work to learn how to defend yourself! Make new friends and beat them up!</p>
                            </div>
                        </div>
                    </div>
                </footer>
            </section><a class="exit-off-canvas"></a>
        </div>
    </div><script src="static/js/jquery.js')}}"></script> <script src=
"static/js/foundation.min.js')}}"></script> <script>
    $(document).foundation();
    </script> 
</body>
</html>